@use "../variables/base-colors" as c;
@use "../mixins/buttons" as button;

.details-form {
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }

  &__error {
    color: red;
    margin-top: 15px;

    &:empty {
      display: none;
    }
  }

  &__detail {
    display: block;
    margin: 20px 0;
  }

  &__detail-label {
    display: block;
  }

  &__detail-input {
    margin-top: 5px;
    padding: 5px 0;
    text-indent: 10px;
    background: c.$white;
    border-radius: 5px;
  }

  &__submit {
    @include button.blue-hover;
    width: 100%;
  }
}
