@use "../mixins/buttons" as button;

.site-navigation {
  padding: 10px 0;

  &__link {
    @include button.navigation;
    display: block;
    color: white;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
