@use "../variables/brand-colors" as c;
@use "../mixins/typography" as t;
@use "../mixins/buttons" as button;

.site-content {
  height: 100%;
  padding: 20px;
  background-color: rgb(240 245 250 / 0.8);
  overflow: auto;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0 1px 5px rgb(75 90 126 / 0.14);

  &__width-constrainer {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    @include t.h2;
  }

  &__actions {
    display: flex;
  }

  &__action {
    @include button.blue-hover;
    background: c.$blue;
    color: c.$white;
  }

  &__submit-button {
    @include button.blue-hover;
    margin-top: 10px;
    width: 100%;
  }

  &__error {
    color: c.$red;
    margin-top: 15px;

    &:empty {
      display: none;
    }
  }
}
