@use "../variables/base-colors" as c;

.site-footer {
  display: flex;
  justify-content: space-between;
  color: c.$white;
  padding: 10px 20px;
  padding-left: 0;
  font-size: 12px;

  > :not(:first-child) {
    margin-left: 20px;
  }
}

