@use "../variables/svg-urls" as svg;
@use "../mixins/buttons" as button;
@use "../variables/base-colors" as c;

.site-header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;

  &__site-details,
  &__account {
    display: flex;
    align-items: center;
  }

  &__company-name {
    content: "";
    display: block;
    background-image: url(svg.$xendit-logo);
    width: 138px;
    height: 40px;
  }

  &__app-name {
    margin-left: 15px;
    color: white;
    font-size: 30px;
    font-weight: 600;
  }

  &__link {
    color: white;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--log-in,
    &--sign-up {
      @include button.hover;
    }

    &--log-in {
      background: white;
      color: c.$blue;
    }

    &--sign-up {
      background: c.$blue;
      color: white;
    }

    &--log-out {
      @include button.navigation;
    }
  }
}

