@use "../variables/brand-colors" as c;
@use "../mixins/buttons" as button;

.site-navigation {
  padding: 10px 0;

  &__link {
    @include button.transparent;
    display: block;
    color: c.$white;
    transition: opacity 0.2s;

    &--disabled {
      pointer-events: none;
      opacity: 0.3;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}
