@use "../variables/base-colors" as c;

html {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 20px;
  color: c.$black;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, c.$blue-gradient);
}
